<ons-page xmlns:th="http://www.thymeleaf.org">
    <ons-toolbar>
        <div class="left">
            <ons-back-button>Back</ons-back-button>
        </div>
        <div class="center">Add Your todo</div>
    </ons-toolbar>
    <div class="content">
        <div style="text-align: center" class="my-center">
            <form action="" th:action="@{/todo}"  method="post">

                <ons-input style="margin-top: 5%" th:object="${name}"   placeholder="Name" float></ons-input>

                <ons-input style="margin-top: 5%" th:object="${description}"  placeholder="Description" float></ons-input>

                <input type="submit" value="Submit"/>
            </form>
        </div>
    </div>
</ons-page>
