<ons-page xmlns:th="http://www.thymeleaf.org">
    <ons-toolbar>
        <div class="left">
            <ons-back-button>Back</ons-back-button>
        </div>
        <div class="center">Add Your todo</div>
    </ons-toolbar>
    <div class="content">
        <div style="text-align: center" class="my-center">
            <form action="#" th:action="@{/todo}"  th:object="${todoItemRequest}" method="post">

                <input style="margin-top: 5%" th:field="*{name}" class="text-input text-input--underbar"  placeholder="Name" float></input>

                <input style="margin-top: 5%" th:field="*{description}" class="text-input text-input--underbar"  placeholder="Description" float></input>

                <input type="submit" value="Submit" class="button--cta"/>
            </form>
        </div>
    </div>
</ons-page>
